[Unit]
Description=Reverse SSH Tunnel for Pi-Slice
After=network-online.target

[Service]
User=john
ExecStart=/usr/bin/python /www/pi-slice/ssh/python/ssh_main.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
